

.film-grid {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 20px;
}


.film-kart {
    background: rgba(255,255,255,0.6);
    padding: 22px;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: 0.3s ease;
}

.film-kart:hover {
    transform: translateY(-6px) scale(1.02);
}

.film-kart img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 14px;
}

.info {
    margin-top: 12px;
}

.info h3 {
    margin: 5px 0;
}

.category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.category.kitap { background: #2ecc71; }
.category.film { background: #8e44ad; }
.category.muzik { background: #2980b9; }


.hover-panel {
    position: absolute;
    top: 0;
    height: 420px;
    width: 260px;
    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 200;
    opacity: 0;
    transition: 0.35s ease;
    pointer-events: none;
}

.film-kart.left .hover-panel {
    left: -280px;
}

.film-kart.left:hover .hover-panel {
    left: -10px;
    opacity: 1;
    pointer-events: auto;
}

.film-kart.right .hover-panel {
    right: -280px;
}

.film-kart.right:hover .hover-panel {
    right: -10px;
    opacity: 1;
    pointer-events: auto;
}




.card-actions-outside {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 25px;
    opacity: 0.95;
}

.card-actions-outside span:hover {
    opacity: 1;
}

.add-to-profile {
    font-size: 25px !important;
    font-weight: bold;
    cursor: pointer;
    opacity: 1 !important;
}
