body
{
    margin: 0;
    font-family: "Quicksand",sans-serif;
    background: linear-gradient(135deg, #f5eb97, #d0ebb5, #abead3);
    color: #011a4b;
    min-height: 200vh;
}

h1{
   font-size: 56px;
    font-weight: 800;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 15px;    

}

.intro {
    margin: 0 auto;
    max-width: 550px;
    opacity: 0.9;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    background-color: #ba5653;
    color: white !important;
    padding: 8px 20px !important;
    border-radius: 25px;
    font-weight: 700;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #d07370;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.20);
}


/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    color: #011a4b;
    margin-top: 40px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(4px);
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #011a4b;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #ba5653;
}
