header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 15px 35px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.10);
}


.logo {
    font-size: 26px;
    font-weight: 700;
    padding-left: 30px;
}

.main {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 20px;
}

.main a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    padding-bottom: 4px;
    color: #011a4b;
    transition: 0.3s ease;
}

.main a:hover {
    color: #ba5653;
}



