
.giris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.giris a {
    margin-top: 20px;
    text-decoration: none;
}

/* POPULAR GRID */
.popular {
    display: flex;
    flex-wrap: wrap; /* satirdan sonraya gecer*/
    gap: 20px;
    justify-content: center;
    padding: 50px 20px;
}

/* KÜÇÜK POPULAR KARTLAR */
.kart {
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kart img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.kart:hover {
    transform: translateY(-8px) scale(1.05) rotate(1deg);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.kart h3 {
    font-size: 15px;
    margin-bottom: 6px;
    color: #011a4b;
}

/* Etiket */
.category {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    user-select: none;
}

.kitap { background-color: #4CAF50; }
.film { background-color: #8e44ad; }
.muzik { background-color: #3498db; }
