

.social-body {
    background: linear-gradient(135deg, #f5eb97, #d0ebb5, #abead3);
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
}




.social-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;
    padding: 0 25px;
}


.post-create {
    background: rgba(255,255,255,0.55);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    padding: 20px;
    display: flex;
    gap: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.10);
}

.post-text {
    background: rgba(255,255,255,0.8);
    border: none;
    width: 400px;
    resize: none;
    padding: 12px;
    border-radius: 14px;
    outline: none;
    min-height: 90px;
    transition: 0.2s;
}

.post-text:focus {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 0 2px #ba5653;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-btn {
    background: #ba5653;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

.post-btn:hover {
    transform: translateY(-3px);
    background: #d07370;
}

.post-card {
    background: rgba(255,255,255,0.55);
    padding: 18px;
    border-radius: 18px;
    margin-top: 25px;
    display: flex;
    gap: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

.post-content strong {
    font-size: 16px;
}

.post-time {
    opacity: 0.6;
    margin-left: 8px;
}

.post-image-show {
    width: 100%;
    margin-top: 10px;
    border-radius: 16px;
}

/* CATEGORY TAG */
.post-tag {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 11px;
    color: white;
    font-weight: bold;
}

.post-tag.kitap { background: #27ae60; }
.post-tag.film  { background: #8e44ad; }
.post-tag.muzik { background: #2980b9; }


.post-actions-bottom {
    margin-top: 12px;
    display: flex;
    gap: 25px;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.like-btn.liked {
    color: #d62828;
    transform: scale(1.2);
    transition: 0.2s ease;
}


.right-panel {
    width: 260px;
    height: max-content;
    position: sticky;
    top: 120px;
}

.profile-mini {
    background: rgba(255,255,255,0.55);
    backdrop-filter: blur(8px);
    padding: 15px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
}

.trend-box {
    margin-top: 20px;
    background: rgba(255,255,255,0.55);
    padding: 18px;
    border-radius: 18px;
    backdrop-filter: blur(8px);
}

.trend-box p {
    opacity: 0.85;
    margin: 6px 0;
}
.pfp {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
